.select-text-field {
    margin-bottom: 16px !important;
}

.select-text-field div {
    border-radius: 0 !important;
}

.select-text-field .MuiFilledInput-input {
    padding-top: 11px !important;
}

.select-text-field > div {
    height: 50px !important;
    padding-top: 0 !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #000000 !important;
}

.select-field-label-title {
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 19px !important;
    color: #000000 !important;
}

.select-text-field p {
    text-align: right;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #DE5555 !important;
    margin-left: 0;
    margin-right: 0;
}