.input-texfield {
    margin-bottom: 16px !important;
}

.input-texfield .MuiInputAdornment-positionStart {
    margin-right: 0 !important;
}

.input-texfield div {
    border-radius: 0 !important;
}

.input-texfield input {
    height: 50px !important;
    mix-blend-mode: normal !important;
    vertical-align: middle !important;
    padding: 0 16px 0 16px !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #000000 !important;

}

.input-texfield input::placeholder {
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #000000 !important;
    opacity: 1 !important;
}

.input-texfield input:-ms-input-placeholder {
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #000000 !important;
    opacity: 1 !important;
}

.input-texfield input::-ms-input-placeholder {
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #000000 !important;
    opacity: 1 !important;
}

.input-texfield p {
    text-align: right;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #DE5555 !important;
    margin-left: 0;
    margin-right: 0;
}

.input-texfield textarea {
    min-height: 57px !important;
    mix-blend-mode: normal !important;
    vertical-align: middle !important;
    padding: 0 !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #000000 !important;
}

.input-texfield textarea::placeholder {
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #000000 !important;
    opacity: 1 !important;
}

.input-texfield textarea:-ms-input-placeholder {
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #000000 !important;
    opacity: 1 !important;
}

.input-texfield textarea::-ms-input-placeholder {
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #000000 !important;
    opacity: 1 !important;
}

.input-texfield .MuiFilledInput-multiline {
    padding: 16px !important;
}

.MuiInputAdornment-filled.MuiInputAdornment-positionStart:not(.MuiInputAdornment-hiddenLabel) {
    margin-top: 0 !important;
}

.MuiFilledInput-root {
    border: 1px solid #000000 !important;
    background-color: white !important;
}

.MuiFilledInput-underline:before {
    border-bottom: 0 !important;
}

.MuiFilledInput-underline:after {
    border-bottom: 0 !important;
}

.MuiFormControl-root {
    width: 100%;
}

.MuiFilledInput-input {
    padding: 20px 16px 11px !important;
}

.input-texfield div,
.input-texfield input:-webkit-autofill,
.input-texfield input:-webkit-autofill:focus {
    box-shadow:  0 0 0 50px #FFF inset;
}

.input-label-title {
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 19px !important;
    color: #000000 !important;
}