:root {
  --font-family: 'Roboto', sans-serif;
  --color-primary-page: #000;
}

* {
  font-family: var(--font-family) !important;
  font-style: normal !important;
  scroll-behavior: smooth !important;
}

body {
  margin: 0 !important;
  background-color: #DCD9D9 !important;
}

html {
  min-height: 100%;
  position: relative;
}

.app-container {
  max-width: 100% !important;
  width: 100vw !important;
  margin: 0 !important;
  margin-bottom: 200px !important;
  padding: 0 !important;
}